<!DOCTYPE html>
<html> 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
   <link href="../css/bootstrap.min.css" rel="stylesheet">
  <title>Google Maps Multiple Markers</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  	<style>
    .map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
</head> 
<body>
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
				<div id="map" style="width: 1200px; height: 400px;">
				<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>	-->
					</div>
			
 

   
		
			</div>
		</div>
	</div>
  <script type="text/javascript">
  var locations = [
    ['Bondi Beach', -25.4805892,-79.9183766, 4, "../images/locator.gif"],
    ['Coogee Beach',  7.4399638,-57.9127612, 5, "../images/fish.gif"],
    ['Cronulla Beach', -51.6794484,-64.9604912, 3, "../images/714.gif"],
    ['Manly Beach',  -13.0063212,-31.3631033, 2, "../images/dance.gif"],
    ['Maroubra Beach',-27.7547282,-99.8793379, 1, "../images/336.gif"]
];

var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    center: new google.maps.LatLng(11.12733,-62.3017998),
    mapTypeId: google.maps.MapTypeId.ROADMAP
	
});

var infowindow = new google.maps.InfoWindow();

var marker, i;

for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
		animation:google.maps.Animation.BOUNCE,
        icon: locations[i][4],
        map: map,
    });

    google.maps.event.addListener(marker, 'click', (function (marker, i) {
        return function () {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
        }
    })(marker, i));
}
	
  </script>
  
</body>
</html>